@import './mixins.scss';


@import './base.scss';
@import './page.scss';


#app {
  position: relative;

  width: 100vw;
  min-width: 320px;
  height: 100vh;

  padding: 50px 60px;

  font-weight: normal;
}

@media (min-width: 1024px) {

}

a {
  font-family: var(--ff-menlo);
  color: inherit;
  text-underline-offset: 5px;

  transition: 0.15s all linear;

  &:hover {
    @include link-gradient()
  }
}




.title {
  font-weight: 900;
  font-size: 42px;
  margin: 0;
}



.form {
  display: block;

  &__inputs {
    margin-bottom: 30px;

    .input-wrapper {
      margin-bottom: 15px;
    }
  }
}