.page {
  position: relative;
  height: 100%;

  &__header {
    position: relative;
    margin-bottom: 40px;
  }

  &__header-breadcrumbs {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 8px));
  }

  &__wrapper {
    padding: 70px 70px;
    height: 100%;
    border-radius: 0px;
    border: 1px solid var(--color-border-content);

    background-color: var(--color-content);
    overflow-y: auto;
  }

  &__content-block {
    margin-bottom: 20px;
  }
  
}